
body {
    background-image: url('/src/img/university-background.jpg');
    /* background-size: cover; */
     color:black;
     text-align: center;
}


.universityConainter{
    text-align: center;
    border: 1px solid red;
    margin: 20px 0 20px 0;
    
}

